<nav style="background-color:#333; padding:10px;">
  <a href="/" style="color:#fff; margin-right:15px; text-decoration:none; font-weight:bold;">La Liga</a>
  <a href="/spelers" style="color:#fff; margin-right:15px; text-decoration:none;">Spelers</a>
  <a href="/teams" style="color:#fff; margin-right:15px; text-decoration:none;">Teams</a>
</nav>
